@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@if (ViewBag.SmartSessionData!=null)
{
    <h3>@ViewBag.SmartSessionData.UserName</h3>
    <h3>@ViewBag.SmartSessionData.Email</h3>
    <h3>@ViewBag.SmartSessionData.UserCode</h3>
}

